body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto';
}
header{
    font-size: 64px;
}

.navbar {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    justify-content: space-between;

    min-width: 100vh;

    padding: 15px 10px;
}
.navlink {
    display: flex;
    align-items: center;
}
.navlink>button {
    font-size: 16px;

    border-radius: 4px;
    background: var(--Primary-text, #1D2130);
    border-color: #1D2130;

    padding: 8px 16px;
}
.navbar>.navbarContainer {
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
}
.navbar>.brandname{
    font-size: 24px;
    margin: 0;
    padding: 0;

    color: #000;
    font-style: normal;
    line-height: 44px;
}
.navbar>nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin: 0;
}
ul {
    display: flex;
    list-style-type: none;

    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}

.introduction {
    display: flex;
    position: relative;
    text-align: center;
    color: #FFFFFF
}
.intro-header>.top-left {
    width: 650px;
    font-size: 64px;

    position: absolute;
    top: 8px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-middle {
    position: absolute;
    bottom: 8px;
    left:340px;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 40px;
}
.bottom-right{
    position: absolute;
    bottom: 8px;
    right: 40px;
}
.introduction>img{
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.know-about-us{
    width: 80%;
    height: auto;
    display: flex;
    gap: 130px;
    justify-content: space-between;

    padding:80px 100px;
}
.about-us-text {
    display: flex;
    flex-direction: column;
}
.text-header {
    color: #1D2130;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.about-us-img>img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
} 