body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto';
}
header{
    font-size: 64px;
}

.navbar {
    display: flex;
    flex: 1 0 100%;
    align-items: center;
    justify-content: space-between;

    min-width: 100vh;

    padding: 15px 10px;
}
.navlink {
    display: flex;
    align-items: center;
}
.navlink>button {
    font-size: 16px;

    border-radius: 4px;
    background: var(--Primary-text, #1D2130);
    border-color: #1D2130;
}
.navbar>.navbarContainer {
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
}
.navbar>.brandname{
    font-size: 24px;
    margin: 0;
    padding: 0;

    color: #000;
    font-style: normal;
    line-height: 44px;
}
.navbar>nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin: 0;
}
ul {
    display: flex;
    list-style-type: none;

    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}